body {
  font-family: 'Arial', sans-serif;
  background-color: #fff8f0;
  color: #333;
  text-align: center;
  margin: 0;
  padding: 20px;
}

.logo {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid #b22222;
  margin-bottom: 10px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

h1 {
  color: #b22222;
  margin-bottom: 30px;
}

.botoes .botao {
  display: block;
  width: 90%;
  max-width: 300px;
  margin: 10px auto;
  padding: 12px 20px;
  font-size: 16px;
  background-color: #b22222;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  transition: background 0.2s;
  outline: none;
}

.botoes .botao:hover {
  background-color: #8b1a1a;
}

.botoes .botao:focus {
  outline: none;
  box-shadow: none;
}

footer {
  margin-top: 40px;
  font-size: 14px;
  color: #777;
}

/* Carrossel */
.carrossel {
  width: 100%;
  max-width: 600px;
  margin: 40px auto;
  overflow: hidden;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slides img {
  width: 100%;
  height: auto;
  flex-shrink: 0;
  user-select: none;
}
.wifi-qr {
  max-width: 300px;
  margin: 30px auto 10px;
  text-align: center;
}

.wifi-qr img {
  max-width: 150px;
  width: 70%;
  height: auto;
  margin: 10px auto;
  display: block;
  border-radius: 12px;
  box-shadow: 0 0 8px rgba(178, 34, 34, 0.3);
}

.wifi-qr-info {
  color: #b22222;
  font-weight: normal;
  font-size: 14px;
  margin-top: 8px;
  opacity: 0.7;
}
